asgiref==3.4.1
certifi==2021.5.30
cfe==0.0.15
charset-normalizer==2.0.3
dj-database-url==0.5.0
Django==3.2.5
gunicorn==20.1.0
idna==3.2
include==0.2.2
Pillow==8.3.1
psycopg2-binary==2.9.1
pytz==2021.1
requests==2.26.0
sqlparse==0.4.1
stripe==2.60.0
typing-extensions==3.10.0.0
urllib3==1.26.6
